<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--邮箱账号密码-->
    <add key="EmailName" value="123"/>
    <add key="EmailPwd" value="123"/>
  </appSettings>

  <connectionStrings>
    <add name="SQL_Conn" connectionString=".;Database=Test;User ID=sa;Password=123456;Trusted_Connection=False; Timeout=300" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>